* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

.two-col {
    display: flex;
    width: 90vw;
    max-width: 1280px;
    margin: 25px auto 0px;
    gap: 50px;
    justify-content: center;

}

 #sidebar {
    width: 250px;
    order: 2;
 }
 #sidebar h2 {
    background-color: rgb(163, 222, 75);
    margin: 0px;
    padding: 10px;
    font-size: 18px;
 }
 #sidebar ul {
    background-color: darksalmon;
    border: 0.5px solid; color: rgb(27, 26, 26);
    margin: 0px 0px 25px;
    list-style-type: none;
    padding: 0px 15px;
 }
 #sidebar li {
    border-bottom: 0.5px solid rgb(213, 126, 97);
    padding: 10px 0px;
 }
 #sidebar li:last-child {
    border: 0px;
 }
 #sidebar a {
    text-decoration: none;
    color: rgb(20, 19, 19)
 }

 #main {
    flex: 1;
    order: 1;
    max-width: 600px;
 }
 #main h1 {
    margin-top: 0px;
 }
 
