* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.screen-print {
    padding: 48px 0px;
    color: rgb(0, 0, 0);
    width: 50%;
    max-width: 900px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(176, 132, 217);
}
.techniques {
    background-color: rgb(139, 235, 139);
    color: rgb(239, 16, 161);
    padding: 48px;
}

   