.completed {
    text-decoration: line-through;    
}

.important {
    font-weight: bold;
    text-decoration: line-through;
    margin: 2px;
    padding: 10px;

   
}

.completed.important {

    background-color: rgb(176, 125, 225);
}

.button {
  
    display: inline-block;
    border: 5px;
    color: solid 
}

#evening {
    border: 5px;
    background-color: rgb(108, 101, 101);

}
#afternoon {
    background-color: rgb(167, 160, 160);
    border: 5px;
    margin: 5px
}

#morning {
   background-color: rgb(221, 212, 212);
   border: 5px;
   margin: 5px;;
    
}

