.completed {
    text-decoration: line-through;    
}

.important {
    font-weight: bold;
    text-decoration: line-through;
   
   
}

.completed.important {

    background-color: rgb(176, 125, 225);
}

.button {
  
    display: inline-block;
    border: 5px solid darkgrey;
    border-radius: 15px;
}

#evening {
    border: 5px;
    background-color: rgb(180, 101, 101);
    margin: 10px;
    padding: 5px;

}
#afternoon {
    background-color: rgb(180, 217, 194);
    margin: 10px;
    padding: 5px;

}

#morning {
   background-color: rgb(221, 212, 212);
   margin: 10px;
   padding: 5px;
}

